.header {
  background: rgb(15, 17, 23);
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
}
.heading {
  margin: 0px;
}
.loginbtn {
  height: 30px;
  background-color: rgb(235, 83, 75);
  border: 0px;
  color: white;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
}
.Links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 90px;
}
.NavLink {
  text-decoration-style: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: aliceblue;
}
.active {
  color: rgb(235, 83, 75);
}

.userbtn {
  width: fit-content;
  min-width: 100px;
}