.signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.signupForm{
    display: grid;
    grid-template-columns: auto auto;
    gap: 18px;
    width: 500px;
    max-width: 600px;
    margin-bottom: 20px;
}
.submitbtn{
    margin-top: 20px;
    height: 45px;
    background-color: rgb(235, 83, 75);
    border: 0px;
    color: white;
    font-weight: 900;
    width: fit-content;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

textarea{
    background-color: rgb(39, 39, 48);
  box-sizing: border-box;
  width: 100%;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: none;
}